.root {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  min-height: 95vh;
}

.columnContainer {
  display: flex;
}

.columnContainer + .columnContainer {
  margin-left: 0.6rem;
}

.boardMenuBar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
