.root {
  display: flex;
  flex-direction: column;
}

.columnGroupBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.titleAndExit {
  display: flex;
  align-items: center;
}

.limits_safe {
  color: green;
}

.limits_warning {
  color: orange;
}

.limits_danger {
  color: orangered;
}

.exitIcon {
  cursor: pointer;
  margin-left: 0.1rem;
}

.exitCriteria {
  margin: 0.3rem;
}
