.summary {
  display: flex;
  flex-direction: column;

  cursor: pointer;
  margin-bottom: 0.8rem;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 1500px;
  min-width: 600px;
}

.newCard {
  display: flex;
}
