/* COLORS */

$color-primary-1: #4c82e6;
$color-primary-light: #5490ff;
$color-primary-dark: #2a4880;

$color-userStory-border: #3653fa;
$color-bugfix-border: #e04541;
$color-task-border: #ffe03e;

$color-column-background: #faf9f6;
$color-column-highlight: #c7f8ff;
